@use 'variables' as *;
@use 'reset';

.wtp-logo-renderer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid $wtp-color-border;
  border-radius: $wtp-radius-md;
}

.product-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-layer {
  pointer-events: none;
}
